name: Integration Tests

on:
  pull_request:
  pull_request_target:
  push:
    branches:
      - main
    paths:
      - earthaccess/**
      - tests/**
      - docs/**
      - binder/**

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: integration-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    #
    # This condition prevents DUPLICATE attempts to run integration tests for
    # PRs coming from FORKS.
    #
    # When a PR originates from a fork, both a pull_request and a
    # pull_request_target event are triggered.  This means that without a
    # condition, GitHub will attempt to run integration tests TWICE, once for
    # each event.
    #
    # To prevent this, this condition ensures that integration tests are run
    # in only ONE of the following mutually exclusive cases:
    #
    #   1. The event is a pull_request_target (PR from a fork)
    #   2. The event is NOT a pull_request_target AND the event payload is
    #      NOT empty.  When a PR is from a fork, the pull_request event payload
    #      is empty, so by running the job only when the payload is NOT empty
    #      ensures that we don't duplicate the integration tests triggered by
    #      the pull_request_target event.  This also allows PRs not from a fork
    #      to run integration tests.
    #
    # See the Notes section regarding the pull_request event type regarding PRs
    # from forks: https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#pull_request
    #
    if: github.event_name == 'pull_request_target' || toJson(github.event) != '{}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
      fail-fast: false

    steps:
      - name: show event payload
        run: echo "${{ toJson(github.event) }}""
      - name: Fetch user permission
        id: permission
        uses: actions-cool/check-user-permission@v2
        with:
          require: write
          username: ${{ github.triggering_actor }}

      - name: Check user permission
        if: ${{ steps.permission.outputs.require-result == 'false' }}
        # If the triggering actor does not have write permission (i.e., this is a
        # PR from a fork), then we exit, otherwise most of the integration tests will
        # fail because they require access to secrets.  In this case, a maintainer
        # will need to make sure the PR looks safe, and if so, manually re-run the
        # failed pull_request_target jobs.
        run: |
          echo "User ${{ github.triggering_actor }} does not have permission to run integration tests."
          echo "A maintainer must perform a security review and re-run this build, if the code is safe (see"
          echo "https://securitylab.github.com/resources/github-actions-preventing-pwn-requests)."
          echo "Re-run at ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          exit 1

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install package with dependencies
        uses: ./.github/actions/install-pkg
        with:
          python-version: ${{ matrix.python-version }}

      - name: Test
        env:
          EARTHDATA_USERNAME: ${{ secrets.EDL_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EDL_PASSWORD }}
          EARTHACCESS_TEST_USERNAME: ${{ secrets.EDL_USERNAME }}
          EARTHACCESS_TEST_PASSWORD: ${{ secrets.EDL_PASSWORD }}
        run: ./scripts/integration-test.sh

      - name: Upload coverage
        # Don't upload coverage when using the `act` tool to run the workflow locally
        if: ${{ !env.ACT }}
        uses: codecov/codecov-action@v4
